<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <h1>Añadir Apartamento</h1>
    <form method="post">

        <label for="title">
            Nombre del apartamento
            <input type="text" id="title" name="title" placeholder="Casa Gogo" maxlength="30" required>
        </label>

        <label for="price">
            Precio por noche (€)
            <input type="number" id="price" name="price" placeholder="30 €" min="1" max="500000" required>
        </label>

        <label for="meters">
            Metros cuadrados ( &#13217; )
            <input type="number" id="meters" name="meters" placeholder="200 ( &#13217; )" min="10" max="10000" required>
        </label>

        <label for="photo">
            URL Photo
            <input type="url" id="photo" name="photo"
                placeholder="https://i.picsum.photos/id/352/200/200.jpg?hmac=HPgFQ0Sto_7261sbYIaRW0-z2Jq0-C92RSt0vkdC6Uc"
                required>
        </label>

        <!-- Button -->
        <button type="submit">Submit</button>

    </form>
</body>

</html>