<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <h1>Vist Detalle Del Apartamento</h1>
    <h2>
        <%= document.title %>
    </h2>
    <p>Precio por noche: <%= document.price %>
    </p>
    <h2>Reservar</h2>
    <!-- /apartment/:id/book -->
    <form method="POST" action="/apartment/<%= document._id %>/book">
        <label for="arrivalDate">Fecha de llegada</label>
        <input type="date" name="arrivalDate" id="arrivalDate" required>

        <label for="departureDate">Fecha de salida</label>
        <input type="date" name="departureDate" id="departureDate" required>


        <input type="submit" class="contrast" value="Reservar">
    </form>
</body>

</html>